{% extends 'base.html' %}

{% block content %}
<div class="title-box">
<h1 class="title">Sign-up</h1>
    {% for msg in messages %}
    <div class="alert alert-danger" role="alert">
        <strong>
            {{msg}}
        </strong>
    </div>
    {% endfor %}
    <form method="POST" action="">
        {% csrf_token %}
        <div class="input">
            <label>Username: </label>
            <input type="text" name="username" required>
        </div>
        <div class="input">
            <label>Email: </label>
            <input type="email" name="email" required>
        </div>
      
        <div class="input">
            <label>Password: </label>
            <input type="password" name="password" required>
        </div>
        <div class="input">
            <label>Confirm Password: </label>
            <input type="password" name="password2" required>
        </div>
        <br>
        <button type="submit">Sign-up</button>
    </form>

  
  
  

</div>

{% endblock content %}