{% extends 'base.html' %}

{% block content %}
<div class="title-box">
    <h1 class="title">Welcome to Sprint</h1>
    {% if activate_leaderboard == 1 %}
    <a href="{% url 'leaderboards' %}">Leaderboards</a>
    {% endif %}
    {% if activate_quiz == 0 and not request.user.is_authenticated  %}
    <a href="{% url 'practice-q' %}">Practice</a>
    {% else %}
    <br>
    <p style="color: rgba(117, 73, 236, 0.473);">Practice is now CLOSED! It's SPRINT TIME!</p>
    {% endif %}

    {% if activate_quiz == 1 %}
    <a href="{% url 'quiz' %}">Game on</a>
    {% else %}
    <br>
    <p style="color: rgba(117, 73, 236, 0.473);"> The sprint will open and <br> scheduled to start on <strong>December 9.</strong> <br> Be prepared and enjoy the experience!</p>
    {% endif %}
</div>






{% endblock content %}
